body{
    background: #004E95;
    color: white;
    padding: 0;
    margin: 0;
}

/*Mobile Screen*/
@media screen and (max-width: 600px){
    .wrapper{
        padding: 40px;
    }
    .footer-wrapper{
        padding: 10px 40px;
    }
    h1{
        font-size: 32px;
        padding-bottom: 16px;
    }
    h2{
        font-size: 26px;
    }
    h3{
        font-size: 20px;
        font-weight: lighter;
    }
    p{
        font-size: 16px;
        padding-bottom: 20px;
    }
    li{
        font-size: 16px;
    }

    img{
        display: none;
    }

    .btn{
        border: 2px solid #3e3e3e;
        color: white;
        background-color: grey;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
    }

    form{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    input, textarea{
        padding: 15px 32px;
        width: 50%;
        margin: 15px;
    }

    footer{
        background-color: black;

    }

    /*Navbar*/
    .navbar{
        overflow: hidden;
        background-color: #004E95;
        position: fixed;
        width: 100%;
        box-shadow: 0 4px 0 -1px rgba(0,0,0,0.25);
    }
    .navbarContainer{
        background-color: #004E95;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }
    .navbarItems{
        list-style-type: none;
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 0;
    }
    .navbarLinks{
        color: white;
    }
    .navbarLinks:visted{
        color: white;
    }

    /*About Me*/
    #about-me{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 60px;
    }

    /*My Skills*/
    #skills{
        background-color:#3e3e3e;
        text-align: center;
    }
    .collapsible{
        max-width: 500px;
        margin: 1em 0;
        font-size: 16px;
    }
    .collapsible-open .collapsible-wrapper {
        grid-template-rows: 1fr;
    }
    .collapsible-open .collapsible-icon{
        transform: rotate(-180deg);    
    }
    
    .collapsible-title-section{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px;
        user-select: none;
        background-color:#2a2a2a;
        color: white;
        cursor: pointer;
    }
    .collapsible-icon{
        transition: transform 0.3s;
    }
    .collapsible-content{
        padding: 0 14px;
        background-color:  #2a2a2a;
        border-top: none;
        overflow: hidden;
    }
    .collapsible-wrapper{
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s ease-out;
    }

    .skill-list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-left: 0;
    }
    .skill-item{
        padding-top: 4px;
        padding-bottom: 4px;
    }

    /*My Experience*/
    #experience{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /*My Education*/
    #education{
        background-color:#3e3e3e;
        text-align: center;
    }

    /*My Projects*/
    #projects{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /*Contact Me*/
    #contact{
        background-color:#3e3e3e;
        text-align: center;
    }
    .form-container label{
        display: block;
    }
    .form-container input, textarea{
        width: 50%;
        padding: 10px;
    }
    input.invalid, textarea.invalid{
        border: 1px solid red;
    }
    .error{
        color: red;
    }

    .hidden{
        display: none;
    }
    .confirm{
        text-align: center;
    }

    /*Footer*/
    .footer-wrapper{
        padding: 10px 40px;
    }
    .footer-text{
        padding-bottom: 0;
    }
    


}

/*Tablet Screen*/
@media screen and (min-width: 768px){
    .wrapper{
        padding: 60px;
    }
    .footer-wrapper{
        padding: 10px 40px;
    }
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 24px;
        font-weight: lighter;
    }
    p{
        font-size: 18px;
        padding-bottom: 20px;
    }
    li{
        font-size: 18px;
    }

    img{
        width: 200px;
    }

    .btn{
        font-size: 18px;
        border: 2px solid #3e3e3e;
        color: white;
        background-color: grey;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
    }

    form{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    input, textarea{
        padding: 15px 32px;
        width: 50%;
        margin: 15px;
    }

    footer{
        background-color: black;

    }

    /*Navbar*/
    .navbar{
        overflow: hidden;
        background-color: #004E95;
        position: fixed;
        width: 100%;
        box-shadow: 0 4px 0 -1px rgba(0,0,0,0.25);
    }
    .navbarContainer{
        background-color: #004E95;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }
    .navbarItems{
        list-style-type: none;
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 0;
    }
    .navbarLinks{
        color: white;
    }
    .navbarLinks:visted{
        color: white;
    }

    /*About Me*/
    #about-me{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 60px;
    }

  /*My Skills*/
  #skills{
    background-color:#3e3e3e;
    text-align: center;
}
.collapsible{
    display: inline-block;
    width: 50%;
}
.collapsible-open .collapsible-wrapper {
    grid-template-rows: 1fr;
}
.collapsible-open .collapsible-icon{
    transform: rotate(-180deg);    
}

.collapsible-title-section{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 14px;
    user-select: none;
    background-color:#2a2a2a;
    color: white;
    cursor: pointer;
}
.collapsible-icon{
    transition: transform 0.3s;
}
.collapsible-content{
    padding: 0 14px;
    background-color:  #2a2a2a;
    border-top: none;
    overflow: hidden;
}
.collapsible-wrapper{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

.skill-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 0;
}
.skill-item{
    padding-top: 4px;
    padding-bottom: 4px;
}
    /*My Experience*/
    #experience{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /*My Education*/
    #education{
        background-color:#3e3e3e;
        text-align: center;
    }

    /*My Projects*/
    #projects{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /*Contact Me*/
    #contact{
        background-color:#3e3e3e;
        text-align: center;
    }
    .form-container label{
        display: block;
    }
    .form-container input, textarea{
        width: 50%;
        padding: 10px;
    }
    input.invalid, textarea.invalid{
        border: 1px solid red;
    }
    .error{
        color: red;
    }

    .hidden{
        display: none;
    }
    .confirm{
        text-align: center;
    }

    /*Footer*/
    .footer-wrapper{
        padding: 10px 60px;
    }
    .footer-text{
        padding-bottom: 0;
    }
    


}

/*Desktop Screen*/
@media screen and (min-width: 992px){
    .wrapper{
        padding: 80px;
    }
    .footer-wrapper{
        padding: 10px 40px;
    }
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 26px;
        font-weight: lighter;
    }
    p{
        font-size: 20px;
        padding-bottom: 20px;
    }
    li{
        font-size: 18px;
    }

    img{
        width: 350px;
    }

    .btn{
        border: 2px solid #3e3e3e;
        color: white;
        background-color: grey;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
    }

    form{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    input, textarea{
        padding: 15px 32px;
        width: 50%;
        margin: 15px;
    }

    footer{
        background-color: black;

    }

    /*Navbar*/
    .navbar{
        overflow: hidden;
        background-color: #004E95;
        position: fixed;
        width: 100%;
        box-shadow: 0 4px 0 -1px rgba(0,0,0,0.25);
    }
    .navbarContainer{
        background-color: #004E95;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        white-space: nowrap;
    }
    .navbarItems{
        list-style-type: none;
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 0;
    }
    .navbarLinks{
        color: white;
    }
    .navbarLinks:visted{
        color: white;
    }

    /*About Me*/
    #about-me{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 60px;
    }

 /*My Skills*/
 #skills{
    background-color:#3e3e3e;
    text-align: center;
}
.collapsible{
    display: inline-block;
    width: 50%;
}
.collapsible-open .collapsible-wrapper {
    grid-template-rows: 1fr;
}
.collapsible-open .collapsible-icon{
    transform: rotate(-180deg);    
}

.collapsible-title-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    user-select: none;
    background-color:#2a2a2a;
    color: white;
    cursor: pointer;
}
.collapsible-icon{
    transition: transform 0.3s;
}
.collapsible-content{
    padding: 0 14px;
    background-color:  #2a2a2a;
    border-top: none;
    overflow: hidden;
}
.collapsible-wrapper{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

.skill-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 0;
}
.skill-item{
    padding-top: 4px;
    padding-bottom: 4px;
}
    /*My Experience*/
    #experience{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /*My Education*/
    #education{
        background-color:#3e3e3e;
        text-align: center;
    }

    /*My Projects*/
    #projects{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /*Contact Me*/
    #contact{
        background-color:#3e3e3e;
        text-align: center;
    }
    .form-container label{
        display: block;
    }
    .form-container input, textarea{
        width: 50%;
        padding: 10px;
    }
    input.invalid, textarea.invalid{
        border: 1px solid red;
    }
    .error{
        color: red;
    }

    .hidden{
        display: none;
    }
    .confirm{
        text-align: center;
    }

    /*Footer*/
    .footer-wrapper{
        padding: 10px 80px;
    }
    .footer-text{
        padding-bottom: 0;
    }
}

/*Lg Desktop Screen*/
@media screen and (min-width: 1200px){
    .wrapper{
        padding: 100px;
    }
    .footer-wrapper{
        padding: 10px 40px;
    }
    h1{
        font-size: 46px;
        padding-top: 60px;
    }
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 30px;
        font-weight: lighter;
    }
    p{
        font-size: 26px;
        padding-bottom: 20px;
    }
    li{
        font-size: 24px;
    }

    img{
        width: 350px;
    }

    .btn{
        font-size: 26px;
        border: 2px solid #3e3e3e;
        color: white;
        background-color: grey;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
    }

    form{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    input, textarea{
        padding: 15px 32px;
        width: 50%;
        margin: 15px;
        font-size: 20px;
    }

    footer{
        background-color: black;

    }

    /*Navbar*/
    .navbar{
        overflow: hidden;
        background-color: #004E95;
        position: fixed;
        padding: 20px;
        width: 100%;
        box-shadow: 0 4px 0 -1px rgba(0,0,0,0.25);
    }
    .navbarContainer{
        background-color: #004E95;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        white-space: nowrap;
    }
    .navbarItems{
        list-style-type: none;
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 0;
    }
    .navbarLinks{
        color: white;
    }
    .navbarLinks:visted{
        color: white;
    }

    /*About Me*/
    #about-me{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 60px;
    }

 /*My Skills*/
 #skills{
    background-color:#3e3e3e;
    text-align: center;
}
.collapsible{
    display: inline-block;
    width: 50%;
}
.collapsible-open .collapsible-wrapper {
    grid-template-rows: 1fr;
}
.collapsible-open .collapsible-icon{
    transform: rotate(-180deg);    
}

.collapsible-title-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    user-select: none;
    background-color:#2a2a2a;
    color: white;
    cursor: pointer;
}
.collapsible-icon{
    transition: transform 0.3s;
}
.collapsible-content{
    padding: 0 14px;
    background-color:  #2a2a2a;
    border-top: none;
    overflow: hidden;
}
.collapsible-wrapper{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

.skill-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 0;
}
.skill-item{
    padding-top: 4px;
    padding-bottom: 4px;
}
    /*My Experience*/
    #experience{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /*My Education*/
    #education{
        background-color:#3e3e3e;
        text-align: center;
    }

    /*My Projects*/
    #projects{
        background-color: #004E95;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /*Contact Me*/
    #contact{
        background-color:#3e3e3e;
        text-align: center;
    }
    .form-container label{
        display: block;
    }
    .form-container input, textarea{
        width: 50%;
        padding: 10px;
    }
    input.invalid, textarea.invalid{
        border: 1px solid red;
    }
    .error{
        color: red;
    }

    .hidden{
        display: none;
    }
    .confirm{
        text-align: center;
    }

    /*Footer*/
    .footer-wrapper{
        padding: 10px 100px;
    }
    .footer-text{
        padding-bottom: 0;
    }
}